article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellota", cursive;
  color: #473452;
}

h1 {
  font-size: 60px;
  color: #1e2528;
}

h2 {
  font-size: 42px;
}

@media (max-width: 560px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 22px;
  margin: 30px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #7f7f7f;
}

.container {
  max-width: 1140px;
  margin: auto;
  margin-top: 120px;
}

@media (max-width: 560px) {
  .container {
    padding: 0 25px;
    margin: 10px 0;
  }
}

@media (max-width: 1140px) {
  .container {
    width: 100%;
  }
}

.container-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (min-width: 560px) and (max-width: 820px) {
  .container-row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 560px) {
  .container-row {
    flex-direction: column;
  }
}

.container-row-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 31%;
  flex-direction: column;
  border: 1px solid #f0f0f0;
}

@media (min-width: 560px) and (max-width: 820px) {
  .container-row-item {
    width: 48%;
    margin: 15px 0;
  }
}

@media (max-width: 560px) {
  .container-row-item {
    width: 100%;
    margin: 15px 0;
  }
}

.container-row-item-inner {
  padding: 15px;
}

.container-row-item-inner p {
  margin: 10px;
}

.shadow:hover {
  box-shadow: 0 10px 20px #e4e4e4;
  transition: all 0.5s ease-in-out;
}

.section-heading {
  margin: auto;
  text-align: center;
}

@media (max-width: 560px) {
  .section-heading h2 {
    margin: 40px 0 20px 0;
  }
}

.section-heading p {
  margin: 0;
  padding: 20px 130px 40px 130px;
}

@media (min-width: 560px) and (max-width: 820px) {
  .section-heading p {
    padding: 20px 40px;
  }
}

@media (max-width: 560px) {
  .section-heading p {
    font-size: 13px;
    padding: 0 10px 50px 10px;
  }
}

input,
select,
textarea {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 40px;
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  background-color: #1ba4ce;
  color: #fff;
  outline: 0;
  padding: 15px 40px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background-color: #1e2528;
}

@media (max-width: 1366px) {
  .btn {
    font-size: 12px;
  }
}

.btn-rv {
  display: inline-block;
  border-radius: 40px;
  margin: 30px 0;
  padding: 15px 40px;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #1e2528;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.btn-rv:hover {
  background-color: #1ba4ce;
}

.img-item {
  width: 100%;
  object-fit: cover;
}

.logo {
  margin: 0px 0 60px 0;
  height: 100px;
}

.mobile-wrapper {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: none;
}

.bg-right {
  position: absolute;
  right: 0px;
  width: 42%;
  z-index: 20;
}

@media (max-width: 1040px) {
  .bg-right {
    width: 35%;
  }
}

@media (max-width: 800px) {
  .bg-right {
    display: none;
  }
}

.bg-left {
  position: absolute;
  top: 140px;
  width: 16%;
  left: -50px;
  z-index: -1;
}

@media (max-width: 1366px) {
  .bg-left {
    width: 10%;
  }
}

@media (min-width: 640px) and (max-width: 800px) {
  .bg-left {
    top: 175px;
    left: -15px;
  }
}

@media (max-width: 640px) {
  .bg-left {
    width: 10%;
    left: -15px;
  }
}

.main-nav {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.nav-inner {
  display: flex;
  width: 1140px;
  background-color: #fff;
  margin: auto;
  z-index: 10;
  align-items: center;
}

@media (max-width: 1140px) {
  .nav-inner {
    width: 100%;
  }
}

.nav-inner img {
  height: 100px;
  width: auto;
  padding: 10px 0;
}

@media (max-width: 1140px) {
  .nav-inner img {
    padding: 10px 15px 10px;
    height: 60px;
  }
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #473452;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
}

ul li a:hover {
  color: #1ba4ce;
}

@media (max-width: 800px) {
  ul {
    display: none;
    flex-wrap: wrap;
  }
}

.mobile-open {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  color: #1e2528;
}

@media (max-width: 800px) {
  .mobile-open {
    opacity: 1;
    font-size: 24px;
  }
}

@media (max-width: 560px) {
  .mobile-open {
    opacity: 1;
    font-size: 16px;
  }
}

.mobile-open:hover {
  transition: all 0.3s ease-in-out;
  color: #1ba4ce;
}

.mobile-close {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.mobile + .mobile-wrapper {
  display: block;
}

.mobile .nav-inner img {
  opacity: 0.5;
}

.mobile .nav-inner .mobile-open {
  display: none;
}

.mobile .nav-inner .mobile-close {
  display: inline;
}

.mobile .nav-inner ul {
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: column;
  background-color: #1ba4ce;
  width: 80%;
  padding-top: 20px;
  display: flex;
}

.mobile .nav-inner ul li {
  background-color: #1ba4ce;
  padding: 30px;
  text-align: right;
}

.mobile .nav-inner ul li a {
  color: #fff;
}

.home {
  width: 550px;
}

@media (max-width: 1140px) {
  .home {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .home {
    padding: 0 20px;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .home {
    width: 100%;
    padding: 0 15px;
  }
}

.home h1 {
  margin: 60px 0 60px 0;
}

@media (max-width: 820px) {
  .home h1 {
    font-size: 45px;
    margin: 10px 0;
    font-weight: 800;
  }
}

@media (max-width: 560px) {
  .home h1 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 800;
  }
}

.home span {
  font-family: "Bellota", cursive;
  font-weight: 800;
  font-size: 16px;
  color: #473452;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 560px) {
  .home span {
    font-size: 12px;
    font-weight: 800;
  }
}

.home p {
  font-size: 15px;
  padding-right: 100px;
}

@media (max-width: 560px) {
  .home p {
    padding: 0;
    color: #1e2528;
    font-weight: 400;
  }
}

.home-links {
  display: flex;
  bottom: 0px;
  left: 0px;
  margin-top: 80px;
}

.home-links .reserve {
  padding: 20px 40px 20px 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #1ba4ce;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: 0;
  transition: all 0.25s ease-in-out;
}

.home-links .reserve i {
  margin-left: 20px;
}

@media (max-width: 560px) {
  .home-links .reserve i {
    display: none;
  }
}

.home-links .reserve:hover {
  background-color: #1e2528;
}

@media (max-width: 560px) {
  .home-links .reserve {
    font-size: 13px;
    padding: 10px 20px;
  }
}

.home-links .watch-now {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;
  text-decoration: none;
  border: none;
  outline: 0;
  transition: all 0.25s ease-in-out;
  margin-left: 30px;
  color: #473452;
}

.home-links .watch-now i {
  padding: 0 10px;
  font-size: 54px;
}

@media (max-width: 560px) {
  .home-links .watch-now i {
    font-size: 26px;
  }
}

.home-links .watch-now:hover {
  color: #1ba4ce;
}

@media (max-width: 560px) {
  .home-links .watch-now {
    font-size: 12px;
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .home-links {
    margin: 0;
  }
}

.about {
  text-align: center;
}

@media (max-width: 560px) {
  .about .section-heading h2 {
    font-size: 20px;
    margin: 10px 0;
  }
}

@media (min-width: 560px) and (max-width: 820px) {
  .about .section-heading p {
    padding: 0 35px;
  }
}

@media (max-width: 560px) {
  .about .section-heading p {
    padding: 0 15px;
  }
}

.about .logo {
  height: 80px;
  margin-bottom: 30px;
}

@media (max-width: 560px) {
  .about .logo {
    height: 60px;
    margin: 30px 0 0 0;
    padding: 5px;
  }
}

.about .info-about {
  display: block;
  font-size: 16px;
  color: #473452;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 560px) {
  .about .info-about {
    font-size: 12px;
  }
}

.treatment {
  margin-top: 40px;
  display: flex;
}

.treatment a {
  outline: 0;
}

.treatment .item {
  width: 25%;
  position: relative;
}

.treatment .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 820px) {
  .treatment {
    flex-wrap: wrap;
  }
  .treatment .item {
    margin-top: 10px;
    width: 50%;
    height: 230px;
  }
  .treatment .item .hover-layer {
    margin-top: 10px;
  }
}

@media (max-width: 560px) {
  .treatment {
    flex-direction: column;
  }
  .treatment .item {
    margin-top: 10px;
    width: 100%;
    height: 230px;
  }
}

.hover-layer {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(27, 164, 206, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

@media (max-width: 560px) {
  .hover-layer {
    margin-top: 10px;
  }
}

.hover-layer:hover {
  opacity: 1;
}

.inner-layer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  font-family: "Bellota", cursive;
}

.inner-layer i {
  margin-bottom: 10px;
  font-size: 40px;
}

@media (max-width: 560px) {
  .inner-layer {
    margin-top: 10px;
  }
}

@media (min-width: 560px) and (max-width: 820px) {
  .team-person {
    margin-bottom: 100px;
  }
}

@media (max-width: 560px) {
  .team-person {
    margin-bottom: 80px;
  }
}

.social {
  width: 85%;
  height: 120px;
  background-color: #fff;
  position: absolute;
  bottom: -70px;
  padding: 30px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.social h3 {
  margin: 0;
}

.social p {
  margin: 0;
}

.social:hover {
  height: 160px;
  box-shadow: 0px 25px 20px -10px #f0f0f0;
  transition: all 0.3s ease-in-out;
}

.social:hover .social-container {
  opacity: 1;
  bottom: 25px;
}

.social:hover .social-container a {
  pointer-events: auto;
}

.social-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  bottom: -40px;
  width: 80%;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.social-container a {
  pointer-events: none;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #473452;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item i {
  font-size: 20px;
  color: #473452;
}

.social-item:hover {
  background-color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.social-item:hover i {
  font-size: 20px;
  color: #fff;
}

.reservation {
  display: flex;
  width: 100%;
  margin-top: 150px;
}

@media (min-width: 560px) and (max-width: 820px) {
  .reservation {
    margin-top: 50px;
  }
}

@media (max-width: 560px) {
  .reservation {
    margin: 0;
  }
}

.side-img {
  width: 41%;
}

.side-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 560px) {
  .side-img {
    display: none;
  }
}

.reserve-form {
  background-color: #1ba4ce;
  width: 59%;
}

@media (max-width: 820px) {
  .reserve-form {
    width: 100%;
    padding: 25px 20px;
  }
  .reserve-form .get-reservation {
    width: 100%;
    margin: 0px;
    font-size: 22px;
  }
  .reserve-form .get-reservation input, .reserve-form .get-reservation select, .reserve-form .get-reservation textarea {
    width: 100%;
    padding: 20px 0 10px 5px;
    font-size: 16px;
  }
  .reserve-form .get-reservation input[type="time"], .reserve-form .get-reservation input[type="date"] {
    width: 48%;
  }
  .reserve-form .get-reservation input[type="submit"] {
    margin: 30px auto;
  }
  .reserve-form .get-reservation textarea {
    margin: 30px 0;
  }
}

.reserve-form .error-message {
  display: none;
  width: 100%;
}

.reserve-form .error-message.error {
  color: red;
  display: block;
}

.reserve-form .error-message.send {
  color: black;
  display: block;
}

.get-reservation {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 80px 100px 40px 100px;
  justify-content: space-between;
}

.get-reservation input,
.get-reservation select,
.get-reservation textarea {
  width: 48%;
  background-color: #1ba4ce;
  border: none;
  border-bottom: 1px solid #fff;
  outline: 0;
  -moz-appearance: none;
  padding: 40px 0 15px 10px;
  font-size: 12px;
}

.get-reservation input::placeholder,
.get-reservation select::placeholder,
.get-reservation textarea::placeholder {
  color: white;
  opacity: 1;
}

.get-reservation input:focus::placeholder,
.get-reservation select:focus::placeholder,
.get-reservation textarea:focus::placeholder {
  color: transparent;
}

.get-reservation input.error,
.get-reservation select.error,
.get-reservation textarea.error {
  border-bottom: 1px solid red;
}

.get-reservation textarea {
  width: 100%;
  height: 70px;
  margin-top: 60px;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  padding: 0 0 0 10px;
}

.get-reservation input[type="submit"] {
  border-radius: 40px;
  margin: 30px 0;
  padding: 15px 40px;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #fff;
  color: #1e2528;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  width: auto;
}

.get-reservation input[type="submit"]:hover {
  background-color: #1e2528;
  color: #fff;
}

@media (max-width: 1366px) {
  .get-reservation input[type="submit"] {
    font-size: 12px;
  }
}

.blog .container-row-item span {
  color: #888888;
  font-family: "Roboto", sans-serif;
  margin: 25px 0 0 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  background-color: #1ba4ce;
}

@media (max-width: 820px) {
  .contact {
    margin-top: 30px;
  }
}

.contact .container {
  margin: 0;
}

.contact .container .container-row {
  display: flex;
  margin: 60px 100px;
  justify-content: space-between;
}

@media (max-width: 820px) {
  .contact .container .container-row {
    margin: 0;
    flex-direction: column;
    padding: 0 25px;
  }
}

.contact .section-heading h2 {
  color: #fff;
}

.contact .section-heading p {
  color: #fff;
  padding: 20px 220px 40px 220px;
}

@media (max-width: 820px) {
  .contact .section-heading h2 {
    margin: 20px 0;
  }
  .contact .section-heading p {
    padding: 20px;
  }
}

.address-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-info .address-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 15px 0 40px 0;
}

.address-info .address-item .img-address {
  width: 25%;
}

.address-info .address-item .content {
  display: flex;
  flex-direction: column;
}

.address-info .address-item span {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

.address-info .address-item img {
  height: 15px;
  margin: 20px 30px 20px 20px;
}

.address-info .address-item a {
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
}

@media (min-width: 820px) and (max-width: 1140px) {
  .address-info {
    width: 50%;
  }
  .address-info .address-item .img-address {
    width: 20%;
  }
}

@media (max-width: 820px) {
  .address-info {
    width: 100%;
    font-size: 14px;
    margin: 20px 0;
  }
  .address-info .address-item {
    margin: 0;
  }
}

.map {
  display: flex;
}

.contact-form {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 820px) {
  .contact-form {
    width: 100%;
  }
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #1ba4ce;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: 0 !important;
  display: inline-block;
  padding: 40px 0 15px 15px;
}

.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder {
  color: white;
  font-weight: 300;
  opacity: 1;
}

.contact-form input:focus::placeholder,
.contact-form select:focus::placeholder,
.contact-form textarea:focus::placeholder {
  color: transparent;
}

@media (max-width: 820px) {
  .contact-form input,
  .contact-form select,
  .contact-form textarea {
    padding: 10px 0 10px 15px;
    border: 1px solid #fff;
    margin: 10px 0;
  }
}

.contact-form textarea {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
}

@media (max-width: 820px) {
  .contact-form textarea {
    height: 140px;
  }
}

.contact-form input[type="submit"] {
  width: 33%;
  border-radius: 40px;
  margin: 30px 0;
  padding: 15px 40px;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #fff;
  color: #1e2528;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  width: auto;
}

.contact-form input[type="submit"]:hover {
  background-color: #1e2528;
  color: #fff;
}

@media (max-width: 1366px) {
  .contact-form input[type="submit"] {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .contact-form input[type="submit"] {
    margin: 30px auto;
  }
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.footer-main .nav-inner {
  justify-content: center;
}

.footer-main span {
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0;
  text-transform: uppercase;
}

@media (max-width: 820px) {
  .footer-main ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .footer-main ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #473452;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
  }
  .footer-main ul li a:hover {
    color: #1ba4ce;
  }
}

@media (max-width: 560px) {
  .footer-main img {
    height: 60px;
    margin-bottom: 30px;
  }
  .footer-main .nav-inner {
    z-index: auto;
  }
  .footer-main .nav-inner ul {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
  }
  .footer-main .nav-inner ul li {
    width: 30%;
    margin: 0;
    padding: 0 0 5px 0;
  }
  .footer-main .nav-inner ul li a {
    font-size: 14px;
  }
  .footer-main span {
    margin: 10px 0 20px 0;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */