.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    .nav-inner {
        justify-content: center;
    }

    span {
        color: #888888;
        font-family: $first-font;
        font-size: $second-font-size;
        font-weight: 400;
        margin: 30px 0;
        text-transform: uppercase;
    }

    @media (max-width: 820px) {
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            li {
                a {
                    font-family: $first-font;
                    font-size: 13px;
                    font-weight: 600;
                    color: $third-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0 20px;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    @media (max-width: 560px) {
        img {
            height: 60px;
            margin-bottom: 30px;
        }
        .nav-inner {
            z-index: auto;
            ul {
                display: flex;
                justify-content: center;
                padding: 0;
                flex-wrap: wrap;
                li {
                    width: 30%;
                    margin: 0;
                    padding: 0 0 5px 0;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        span {
            margin: 10px 0 20px 0;
            font-size: 12px;
        }
    }
}
