.header {
    display: flex;
    position: relative;
    // justify-content: space-evenly
}
.header-main {
    width: 1140px;
    display: flex;
    flex-direction: column;
}
.left-side-bg {
    // background-color: red;
    width:100%;
    height: auto;
    img {
        height: auto;
        width: 75%;
        margin-top: 160px;
        margin-left: -17%;
    }
    
}
.background {
    position: absolute;
    right: 0px;
    width: 45%;
    img {
        width:100%;
        height: auto;
    }
}
.right-side-bg {
    width: 100%;
}