.main-nav {
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 5;
    @media (max-width: 560px) {
    }
}
.nav-inner {
    display: flex;
    width: 1140px;
    background-color: #fff;
    margin: auto;
    z-index: 10;
    align-items: center;
    @media (max-width: 1140px) {
        width: 100%;
    }

    img {
        height: 100px;
        width: auto;
        padding: 10px 0;
        @media (max-width: 1140px) {
            padding: 10px 15px 10px;
            height: 60px;
        }
    }
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
        a {
            font-family: $first-font;
            font-size: 15px;
            font-weight: 600;
            color: $third-color;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 20px;
            &:hover {
                color: $primary-color;
            }
        }
    }
    @media (max-width: 800px) {
        display: none;
        flex-wrap: wrap;
    }
}
.mobile-open {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    color: $secondary-color;
    @media (max-width: 800px) {
        opacity: 1;
        font-size: 24px;
    }
    @media (max-width: 560px) {
        opacity: 1;
        font-size: 16px;
    }
   
    &:hover {
        transition: all 0.3s ease-in-out;
        color: $primary-color;
    }
}
.mobile-close {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.mobile {
     + .mobile-wrapper {
        display: block;
    }
    .nav-inner {
        img {
            opacity: 0.5;
        }
        .mobile-open {
            display: none;
        }
        .mobile-close {
            display: inline;
        }
        ul {
            
            position: absolute;
            top: 0px;
            right: 0px;
            flex-direction: column;
            background-color: $primary-color;
            width: 80%;
            padding-top: 20px;
            display: flex;
            li {
                background-color: $primary-color;
                padding: 30px;
                text-align: right;
                a {
                    color: #fff;
                }
            }
        }
    }
}
