// Colors 

$primary-color : #1ba4ce;
$secondary-color: #1e2528;
$third-color: #473452;
$fourth-color:#7f7f7f;


// Fonts

$first-font: 'Roboto', sans-serif;
$second-font: 'Bellota', cursive;

// Font Sizes 

$first-font-size: 16px;
$second-font-size: 14px;


